* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.tom-pad,
.hihat-pad,
.clap-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.tom-pad {
  background-color: rgb(185, 196, 122);
}
.kick-pad {
  background-color: rgb(122, 122, 196);
}
.clap-pad{
    background-color: rgb(184, 91, 91);
}
.snare-pad {
  background-color: rgb(131, 196, 122);
}
.hihat-pad {
  background-color: rgb(196, 122, 174);
}
.kick-pad.active {
  background-color: rgb(6, 6, 248);
}
.clap-pad.active{
    background-color: rgb(207, 42, 42);
}
.snare-pad.active {
  background-color: rgb(39, 247, 11);
}
.hihat-pad.active {
  background-color: rgb(224, 21, 163);
}
.tom-pad.active {
  background-color: rgb(205, 238, 20);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kick-track,
.snare-track,
.hihat-track,
.tom-track,
.clap-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat,.clap,.tom {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: rgb(88, 88, 88);
  border: none;
  color: white;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
}

.mute.active {
  background-color: rgb(184, 179, 179);
}
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  position: relative;
  background-color: rgb(88, 88, 88);
  width: 100%;
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
